<div *ngIf="databases$ | async as databases" class="overflow-scroll overflow-x-hidden">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!--NODES FOR TABLES -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <p class="cursor-pointer" (click)="clickOnTable(node.name)" (contextmenu)="displayContextMenu($event); false">{{node.name}}</p>
    </mat-tree-node>
    <!-- NODES FOR DATABASES-->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name" (click)="isDisplayContextMenu=false">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <p class="cursor-pointer" (click)="clickOnTable(node.name)">{{node.name}}</p>
    </mat-tree-node>
  </mat-tree>
</div>


<div *ngIf="isDisplayContextMenu" class="context-menu-style" [style]="getRightClickMenuStyle()">
  <div class="hover-bg">
    Alter table
  </div>
  <div class="hover-bg" >
    Truncate table
  </div>
  <div class="hover-bg">
    Delete table
  </div>
  <div class="hover-bg" [routerLink]="['/table', 'create']">
    Create table
  </div>
  <hr>
</div>
