/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.h-full {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.justify-center{
  display: flex;
  justify-content: space-between;
}
.flex-row{
  display: flex !important;
  justify-content: space-between;
}
.p-24 {
  padding: 6rem;
}
.p-16 {
  padding: 16px;
}
.color-error {
  color: #f44336 !important;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.m-4 {
  margin: 12px;
}
.mr-4 {
  margin-right: 12px;
}
.bg-success {
  background-color: limegreen;
  color: #F5F5F5;
}
.bg-error {
  background-color: #f44336;
  color: #F5F5F5;
}
